[submodule "submodule/sainnhe/edge"]
	path = submodule/sainnhe/edge
	url = https://github.com/sainnhe/edge
[submodule "submodule/tomasiser/vim-code-dark"]
	path = submodule/tomasiser/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark
[submodule "submodule/sainnhe/sonokai"]
	path = submodule/sainnhe/sonokai
	url = https://github.com/sainnhe/sonokai
[submodule "submodule/shaunsingh/nord.nvim"]
	path = submodule/shaunsingh/nord.nvim
	url = https://github.com/shaunsingh/nord.nvim
[submodule "submodule/rebelot/kanagawa.nvim"]
	path = submodule/rebelot/kanagawa.nvim
	url = https://github.com/rebelot/kanagawa.nvim
[submodule "submodule/srcery-colors/srcery-vim"]
	path = submodule/srcery-colors/srcery-vim
	url = https://github.com/srcery-colors/srcery-vim
[submodule "submodule/sainnhe/everforest"]
	path = submodule/sainnhe/everforest
	url = https://github.com/sainnhe/everforest
[submodule "submodule/sickill/vim-monokai"]
	path = submodule/sickill/vim-monokai
	url = https://github.com/sickill/vim-monokai
[submodule "submodule/sainnhe/gruvbox-material"]
	path = submodule/sainnhe/gruvbox-material
	url = https://github.com/sainnhe/gruvbox-material
[submodule "submodule/rose-pine/neovim"]
	path = submodule/rose-pine/neovim
	url = https://github.com/rose-pine/neovim
[submodule "submodule/romainl/apprentice"]
	path = submodule/romainl/apprentice
	url = https://github.com/romainl/apprentice
