name: Collector
on:
  schedule:
    - cron: "53 0 * * 1"
  workflow_dispatch:
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  pipeline:
    name: Pipeline
    if: ${{ github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Google-Chrome
        run: |
          wget -q https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo dpkg -i google-chrome-stable_current_amd64.deb
          echo 'which google-chrome'
          which google-chrome
          echo 'google-chrome --version'
          google-chrome --version
          rm google-chrome-stable_current_amd64.deb
      - uses: nanasess/setup-chromedriver@v2
      - run: |
          export DISPLAY=:99
          chromedriver --url-base=/wd/hub &
          sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 & # optional
      - name: Collect Colors
        run: |
          export PYTHONPATH="$PWD:$PYTHONPATH"
          sudo apt-get install -y python3 python3-dev python3-venv python3-pip python3-docutils
          python3 -m venv venv
          . venv/bin/activate
          python3 -m pip install -r requirements.txt
          python3 collect.py
      - name: Auto Commit
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "chore(colors): auto update colorschemes list"
